<%- include('./includes/top.ejs') %>
    <h1><%= user.name %></h1>
    <p><%= user.birth %></p>
    <p><%= user.age %></p>
    <p><%= user.school %></p>
    <p><%= user.gender %></p>
<%- include('./includes/bottom.ejs') %>