<%- include('./includes/top.ejs') %>
    <h1>
        <%= user.firstName %>-<%= user.secondName %>
    </h1>
    <p>
        <%= user.phone %>
    </p>
    <p>
        <%= user.email %>
    </p>
    <p>
        <%= user.address %>
    </p>
    <%- include('./includes/bottom.ejs') %>