<%- include('./includes/top.ejs') %>
  <div>
    <div><%= user.name %></div>
    <div><%= user.age %></div>
    <div><%= user.birth %></div>
    <div><%= user.job %></div>
    <div><%= user.address %></div>
  </div>
<%- include('./includes/bottom.ejs') %>